:root {
    --primaria: #24988D;
    --secundaria: #13133C;
    --terciaria: #90D1C9;

    --letra: #fff;
}


.dark {
    --primaria: #24988D;
    --secundaria: #13133C;
    --terciaria: #90D1C9;

    --letra: #fff;
}