:root {
    --primaria: #25D366;
    --secundaria: #1B2845;
    --terciaria: #95E1D3;

    --letra: #fff;
}


.dark {
    --primaria: #25D366;
    --secundaria: #1B2845;
    --terciaria: #95E1D3;

    --letra: #fff;
}